<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true" />

    <context:annotation-config />

    <context:component-scan base-package="com.uc.training">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 远程服务调用代理 -->
    <bean class="com.ycc.base.framework.remote.client.spring.RemoteServiceScannerConfigurer">
        <property name="basePackage" value="com.uc.training.**.api"/>
        <property name="excludePackage" value="com.uc.training.template" />
    </bean>

    <!-- 配置中心 -->
    <bean id="defaultConfigCenterManager" class="com.zuche.confcenter.client.manager.DefaultConfigCenterManager" factory-method="getInstance" lazy-init="false">
        <!--默认会找classpath下面的conf_center.properties文件，如果需要修改默认值把下段注释打开修改对应的value即可 -->
        <!--<constructor-arg index="0" value="conf_center"/>-->
    </bean>
    <bean id="defaultConfCenterApi" name="defaultConfCenterApi" class="com.zuche.confcenter.client.api.impl.DefaultConfCenterApi" lazy-init="false"/>

   	<!-- 参数校验器 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
	</bean>

</beans>
